# Project information.
project:
  name: FuturiumD8
  url: http://localhost
  environment: development

# Site information.
site:
  name: Futurium
  mail: email@example.com
  profile: minimal
  update: false
  locale: en

# Administrator account.
account:
  name: admin
  password: admin
  mail: admin@example.org

# Database parameters.
database:
  name: futuriumd8
  user: mysql
  password: mysql
  host: mysql
  port: 3306
  root_password: password
  prefix: ""

theme:
  path: themes/contrib/blellow
  dev:
    repo: https://gitlab.dgcnect.eu/web-team/blellow-d8-theme
    branch: develop

# Behat
behat:
  api_driver: drupal
  webdriver_host: http://172.17.0.1:4444/wd/hub

# Here you can specify environment overrides.
#environment:
#  settings:
#    trusted_host_patterns:
#      - "dev.europa.eu$"
#    http_client_config:
#      proxy:
#        http: "http://username:password@host:port"
#        https: "http://username:password@host:port"

