# Project information.
project:
  name: ProjectName
  url: http://localhost
  environment: development

# Site information.
site:
  name: SiteName
  mail: email@example.com
  profile: minimal
  update: false
  locale: en

# Administrator account.
account:
  name: admin
  password: admin
  mail: admin@example.org

# Database parameters.
database:
  name: drupal
  user: mysql
  password: mysql
  host: mysql
  port: 3306
  root_password: password
  prefix: ""

# User
id:
  user: 1000
  group: 1000

# If you wish to swap a theme downloaded using composer,
# specify it's info bellow.
# You can then use 'robo theme:dev' (alias 'robo td') to swap.

#theme:
#  path: themes/contrib/theme_name

#behat:
#  config: tests/behat.yml
#  tags: "@wip"

# Here you can specify environment overrides.
#environment:
#  development:
#    settings:
#      memcache:
#        servers:
#          'memcached:11211' : default
#      cache:
#        default:
#          'cache.backend.memcache'
#      trusted_host_patterns:
#        - "localhost$"
#        - "web$"
#      http_client_config:
#        proxy:
#          http: "http://username:password@host:port"
#          https: "http://username:password@host:port"
#  staging:
#    settings:
#      trusted_host_patterns:
#        - "some.random.domain.com"
