container_commands:

# This script checks if website is installed,
# and if so it overwrites the settings.php and settings.local.php files.
  01settingsfiles:
    command: |
      chmod +x ./scripts/deployments/update_settings.sh
      ./scripts/deployments/update_settings.sh

# This script checks if website is installed,
# and
# Is installed: it updates the config,
# Isn't installed: install the site.
# Will only run in one of the instances.
  02install:
    command: |
      chmod +x ./scripts/deployments/install.sh
      ./scripts/deployments/install.sh
    leader_only: true