container_commands:

# This script checks if website is installed,
# and if so it overwrites the settings.php and settings.local.php files.
  01settingsfiles:
    command: |
      ./vendor/bin/robo rewrite:settings

# This script checks if website is installed,
# and
# Is installed: it updates the config,
# Isn't installed: install the site.
# Will only run in one of the instances.
  02install:
    command: |
      ./vendor/bin/robo piu
    leader_only: true
