container_commands:
  # Enable the user so we can run the install/update script as the webapp user.
  01_enable_user:
    command: |
      chsh -s /bin/bash webapp

  # Copy the config file.
  02_copy_config:
    command: |
      cp config.yml.dist config.yml

  # Generate env vars not yet in the environment.
  03_generate_env:
    command: |
      su webapp -c ". /opt/elasticbeanstalk/support/envvars-wrapper.sh && ./bin/robo pse"

  # Install or update Drupal if already installed.
  04_install_or_update:
    command: |
      /sbin/runuser -l webapp -c ". /opt/elasticbeanstalk/support/envvars-wrapper.sh && ./bin/robo piu"
    leader_only: true

  # Ensure symlinks are in place.
  05_symlinks:
    command: |
      su webapp -c ". /opt/elasticbeanstalk/support/envvars-wrapper.sh && ./bin/robo pisl"

  # Disable the webapp user.
  06_disable_user:
    command: |
      sudo usermod -s /sbin/nologin webapp
